<!DOCTYPE html>
<head>
    <script>
    
</script>
<style>
body {
  font-family: Arial;
  margin: 0;
  font-size: 15px;
}

.header {
  padding-left: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  background: #270355;
  color: white;
  font-size: 15px;
}

main {
  padding: 20px;
  text-align: left;
  background: #FFFFFF;
  color: graphite;
  font-size: 15px;
}

h2 {
  font-size: 18px
}

/* Page Content */
.content {padding:50px;}
</style>
</head>
<body>
    <header>
        <div class="container">
            <h1><b>STRONA GLOWNA</b></h1></h>
            <h2>Lista Tytulow</h2>
            <ul>
            {% for movie in movies %}
                <li><input type="checkbox" name="moviesToRemove" value={{ movie[0]}}>{{ movie[0] }}, {{ movie[1] }}, {{ movie[2] }}, {{ movie[3] }}</li>,
            {% endfor %}
            </ul>
        </div>
    </header>
    <main>
        <a href='/addMovies'>Idz do dodawania filmow</a>
    </main>
    <footer>
        <div class="container">
        </div>
    </footer>
</body>
</html>