<!DOCTYPE html>
<head>
    <script>
    
</script>

</head>
<body>
    <header>
        <div class="container">
            <h1><b>STRONA GLOWNA</b></h1></h>
            <h2>Lista Tytulow</h2>
            <ul>
            {% for movie in movies %}
                <li>{{ movie[0] }}, {{ movie[1] }}, {{ movie[2] }}, {{ movie[3] }}</li>
            {% endfor %}
            </ul>
        </div>
    </header>
    <main>
        <a href='/addMovies'>Idz do dodawania filmow</a>
    </main>
    <footer>
        <div class="container">
        </div>
    </footer>
</body>
</html>